
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Arabic' , sans-serif ;

}

header {
width: 100%;
background-color: #fff;
border-bottom: 2px solid #ddd;
padding: 10px 20px;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

.logo img {
height: 35px;
}

.header-btn {
color: #333; /* لون النص */
text-decoration: none;
font-size: 16px;
margin-right: 20px; /* لضمان مسافة بين الزر وحدود الهيدر */
}
.logo {
margin-right: 30px; /* إضافة مسافة من الجهة اليمنى */
}
.header-section {
background-color: #B4C65CAD;
display: flex;
align-items: center;
justify-content: space-between; /* جعل الصورة في اليسار والنص في اليمين */
padding: 20px 50px;
position: relative;
height: 150px; /* تقليل ارتفاع القسم */
}

.header-section .text-content {
max-width: 50%; /* ضبط عرض النص */
text-align: right; /* جعل النص في الجهة اليمنى */
}

.header-section h1 {
margin: 0;
font-size: 48px; /* تكبير حجم الخط */
color: #333;
}

.header-section p {
font-size: 24px; /* تكبير حجم الخط */
color: #555;
margin-top: 10px;
}

.header-section .fruit-image {
max-height: 180px; /* حجم الصورة */
object-fit: contain; /* للحفاظ على نسبة الأبعاد */
margin-right: 20px; /* مسافة بين الصورة والنص */
margin-bottom: -10px; /* لجعل الصورة تلامس الخط السفلي */
order: -1; /* لضمان أن الصورة تظهر في الجهة اليسرى */
}



/* تصميم القسم الإضافي */
.design-container {
background-color: #B4C65CAD; /* اللون الذي طلبته */
padding: 30px; /* زيادة المساحة حول المحتوى */
border-radius: 10px; /* إضافة زوايا مستديرة */
display: flex;
justify-content: space-between; /* لضمان ترتيب الصورة والنص */
align-items: center; /* لتوسيط المحتوى عمودياً */
margin-bottom: 20px; /* إضافة مسافة من الأسفل */
} 

.login-container {
background-color: #f9f9f9;
border-radius: 10px;
padding: 30px;
max-width: 400px;
margin: 30px auto; /* إضافة مسافة علوية وسفلية */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
text-align: center;
}

.login-container h2 {
font-size: 24px;
margin-bottom: 20px;
color: #2a6b25;
}

.input-group {
margin-bottom: 15px;
text-align: right;
}

.input-group label {
display: block;
margin-bottom: 5px;
color: #333;
}

.input-group input {
width: 100%;
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
background-color: #B4C65C3B;
}

.remember-forgot {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 15px;
}

button {
width: 100%;
padding: 10px;
border: none;
border-radius: 5px;
background-color: #2a6b25;
color: #fff;
font-size: 18px;
cursor: pointer;
}

button:hover {
background-color: #23871e;
}

p {
margin-top: 15px;
color: #333;
}

a {
color: #2a6b25;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

